<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro: </label><input type="text" class="form-control mr-2" placeholder="Pesquisar..." [(ngModel)]="filtroLista">
  </div>
</div>
<h5>Filtro: {{filtroLista}}</h5>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>
        <button class="btn btn-outline-light" (click)="alternarImagem()">
          Mostrar imagem
        </button>
      </th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>{{evento.eventoId}}</td>
      <td>
        <img *ngIf="mostrarImagem" src="http://localhost:5001/img/{{evento.imagemURL}}"
        [style.width.px]="imagemLargura" [style.margin.px]="imagemMargem">
      </td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote | uppercase}}</td>
      <td>
        <button class="btn btn-success"></button>
        <button class="btn btn-danger"></button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="7" class="text-center">
        <h4>
          Nenhum evento encontrado!
        </h4>
      </td>
    </tr>
  </tfoot>
</table>